.info {
    display: flex;
    height: 100%;
    color: white;
}

.looks {
    width: 30%;
    color: rgb(49, 49, 49);
}

.display-data {
    font-family: "TungstenBold";
    padding: 0px 20px 0 0;
}

.display-data p {
    margin: 5px 0;
}

.display-data .img-text {
    display: block;
}

.display-data .agent-pic {
    height: 200px;
}

.display-data .weapon-pic {
    padding: 50px 0 0 0;
    max-width: 100%;
    max-height: 100%;
    background-image: radial-gradient(white, #ff4655 70%);
}

.display-data .name {
    width: 100%;
    font-size: 4.5vmax;
}

.display-data .name img {
    margin-left: 5px;
    width: 2vmax;
}

.display-data .type {
    font-size: 2.5vmax;
}

.audioStripe img {
    width: 50px;
    height: 50px;
    border: 2px rgb(49, 49, 49);
    border-radius: 50px;
}

.display-data .description {
    color: rgb(49, 49, 49);
    font-weight: 900;
    font-size: 14px;
    font-family: 'poppins';
    border-left: 4px solid rgb(49, 49, 49);
    padding-left: 5px;
    background-color: #ff4655;
    overflow-y: scroll;
}

.display-data .weapon-description {
    font-weight: 900;
}

.info-items {
    overflow-y: scroll;
    width: 70%;
    height: 100%;
    padding: 10px;
    background: rgb(49, 49, 49);
    border-radius: 0 10px 10px 0;
}

.info-items img {
    width: 20px;
}

.info-items .weapon-mobile-view {
    display: none;
}

.info-items .weapon-skin {
    width: 200px;
}

.sub-heads {
    font-family: "TungstenBold";
    font-size: 35px;
    margin: 0;
}

.display-item {
    margin: 30px 0;
}

.display-item img {
    margin-right: 10px;
}

.display-item span {
    font-size: 22px;
}

.display-weapon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-weapon .display-item {
    width: 275px;
    text-align: center;
}

.display-weapon .display-item span {
    font-size: 16px;
}

.zoom-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-image: radial-gradient(#ff4655, #ff4655, transparent 30%);
    transition: opacity ease 0.4s;
}

.zoom-modal p {
    font-family: poppins;
    color: white;
    font-size: 20px;
    text-align: center;
}

.zoom-modal .zoom-container {
   text-align: center;
}

.show {
    visibility: visible;
    opacity: 1;
}

.zoom-modal .close-item {
    vertical-align: top;
    color: white;
}

.zoom-modal .zoom-item {
    width: 85%;
    object-fit: contain;
}

.zoom-modal .zoom-item-agent {
    width: 60%;
    object-fit: contain;
}

/* Desktops and iPads, Tabs ----------- */
@media only screen and (max-width : 1280px) {
    .looks, .display-data, .display-data .agent-pic {
        height: 100%;
    }

    .display-data, .img-text, .img, .character-name {
        width: 100%;
    }

    .display-data .img-text {
        height: 55%;
    }

    .display-data .img {
        height: 60%;
    }

    .display-data .description {
        font-size: 13px;
    }
}

/* Smartphones, Mini Tablet and Big Mobile (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) {
    .looks {
        width: 100%;
        height: 30%;
    }

    .info {
        display: block;
        margin-top: 10px;
    }

    .display-data {
        padding: 0;
    }

    .display-data .img-text {
        display: flex;
        padding: 0;
        height: 100%;
    }

    .display-data .img {
        width: 50%;
        height: 100%;
    }

    .display-data .agent-pic {
        height: 90%;
    }

    .display-data .weapon-pic {
        padding: 30px 0 0 0;
        max-width: 90%;
    }

    .display-data .character-name {
        width: 50%;
        height: 100%;
        text-align: right;
    }

    .display-data .name {
        height: 60%;
        font-size: 8vmin;
    }

    .display-data .name img {
        width: 4vmin;
    }

    .display-data .type {
        font-size: 4vmin;
    }

    .display-data .description {
        display: none;
    }

    .info-items {
        overflow-y: scroll;
        width: 100%;
        height: 70%;
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }

    .info-items .weapon-mobile-view {
        display: block;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) and (orientation : portrait) {
    .looks {
        height: 15%;
    }

    .display-data .weapon-pic {
        padding: 10px 0 0 0;
        max-width: 90%;
    }

    .display-data .name {
        font-size: 10vmin;
    }

    .display-data .name img {
        width: 6vmin;
    }

    .display-data .type {
        font-size: 5vmin;
    }

    .info-items {
        height: 85%;
    }

    .sub-heads {
        font-size: 25px;
    }

    .display-item span {
        font-size: 16px;
    }
}