.full-div {
    font-family: "poppins";
    font-size: 1vmax;
}

.image-name {
    font-family: "TungstenBold";
    font-size: 3.5vmax;
}

@media only screen and (max-width: 900px) {
    .gear-pic {
        height: 25vmin;
    }
}