.error-message {
    font-family: "TungstenBold";
    letter-spacing: 1px;
    font-size: 30px;
    height: 575px;
    background: rgb(49, 49, 49);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}