.agent-info {
    padding: 2% 0;
    color: white;
}

.agent-looks {
    display: flex;
    color: rgb(49, 49, 49);
}

#agent-name {
    font-family: "TungstenBold";
    width: 30%;
    text-align: right;
    font-size: 80px;
    margin: 0px;
}

#display-icon {
    font-family: "TungstenBold";
    font-size: 40px;
    width: 70%;
}

#display-icon p {
    margin: 5px 0;
}

#display-icon img {
    border: 2px solid rgb(49, 49, 49);
    height: 150px;
}

.agent-description {
    color: rgb(49, 49, 49);
    font-weight: 900;
    font-size: 16px;
}

.info-items {
    overflow-y: scroll;
    height: 250px;
    padding: 10px;
    background: rgb(49, 49, 49);
}

.info-items img {
    width: 20px;
}

.sub-heads {
    font-family: "TungstenBold";
    font-size: 35px;
    margin: 0;
}

.display-item {
    margin: 30px 0;
}

.display-item img {
    margin-right: 10px;
}

.display-item span {
    font-size: 22px;
}

.display-voice {
    display: flex;
}

.display-voice .sub-heads {
    width: 20%;
}

.display-voice .audioStripe {
    text-align: right;
    width: 80%;
}