.main-container {
    font-family: "dinNextLight";
    font-size: 15px;
    margin: 0px 10%;
    padding: 20px 0 40px;
    width: 80%;
    height: 650px;
}

.search {
    display: flex;
    margin: 15px 0;
}

#search-drop {
    font-family: poppins;
    background-color: rgb(49, 49, 49);
    color: white;
    outline: none;
    width: 15%;
    padding: 10px;
    border: none;
    border-right: 1px solid #ff4655;
    border-radius: 10px 0 0 10px;
}

#search-bar {
    font-family: poppins;
    background-color: rgb(49, 49, 49);
    color: white;
    outline: none;
    padding: 10px;
    height: 30px;
    width: 85%;
    border: none;
    border-radius: 0 10px 10px 0;
}