.main-container {
    font-family: "dinNextLight";
    font-size: 15px;
    margin: 0px 10%;
    padding: 20px 0;
    width: 80%;
    height: 100%;
}

.search {
    display: flex;
    height: 40px;
    margin-bottom: 1%;
}

.search-result {
    height: 90%;
}

#search-drop {
    font-family: poppins;
    background-color: rgb(49, 49, 49);
    color: white;
    outline: none;
    width: 110px;
    padding: 10px;
    border: none;
    border-right: 2px solid #ff4655;
    border-radius: 10px 0 0 10px;
}

#search-div {
    font-family: poppins;
    background-color: rgb(49, 49, 49);
    color: white;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 0 10px 10px 0;
    position: relative;
    text-align: left;
}

.search-input {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.search-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    border-right: 2px solid rgb(49, 49, 49);
    border-bottom: 2px solid #ff4655;
    background-color: rgb(49, 49, 49);
    outline: none;
    z-index: 99;
}

.dropdown-icon {
    text-align: left;
}

.dropdown-icon img {
    width: 20px;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: white;
    color: rgb(49, 49, 49);
}

.dropdown-item.selected {
    background-color: #ff4655;
    color: #fff;
}

.search-box {
    padding: 5px;
}

.search-box input {
    font-family: poppins;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ff4655;
    outline: none;
    color: rgb(49, 49, 49);
    border-radius: 5px;
}

/* Desktops and iPads, Tabs ----------- */
@media only screen and (max-width : 1280px) {
    .main-container {
        margin: 0px 5%;
        width: 90%;
    }
}

/* Smartphones, Mini Tablet and Big Mobile (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) {
    .main-container {
        font-size: 14px;
    }

    #search-drop {
        font-size: 11px;
        min-width: 90px;
        border-radius: 10px 0 0 0;
    }

    #search-div {
        font-size: 11px;
        border-radius: 0 10px 0 0;
    }
}