body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Valorant";
  src: url(../src/assets/Valorant.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../src/assets/Poppins-Medium.ttf);
}

@font-face {
  font-family: "TungstenBold";
  src: url(../src/assets/Tungsten-Bold.ttf);
}

@font-face {
  font-family: "dinNextLight";
  src: url(../src/assets/DINNextW1G-Light.otf);
}

.container {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: url(../src/assets/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: poppins;
}

.header {
  display: flex;
  padding-top: 50px;
}

.outer-overlay {
  width: 80%;
  height: 100%;
  margin: 0 10%;
}

.overlay {
  width: 100%;
  height: 80vh;
  border-radius: 25px;
  background: #ff4655 url(../src/assets/background-sprite.png) no-repeat;
}

#head {
  margin: 0;
  width: 75%;
  font-size: 50px;
  font-family: "Valorant";
  color: rgb(49, 49, 49);
}

#head2 {
  width: 25%;
  text-align: end;
  color: #ff4655;
  margin: 0;
}

#footer-text {
  font-size: 10px;
  color: white;
  text-align: center;
  margin: 10px 0 0 0;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* iPads to Smartphone for Common Elements ----------- */
@media only screen and (max-width : 1280px) {}

/* Smartphones, Mini Tablet and Big Mobile (portrait and landscape) ----------- */
@media only screen and (max-width : 900px) {

  .outer-overlay {
    width: 90%;
    margin: 0 5%;
  }

  .header {
    display: block;
    padding-top: 30px;
  }

  #head {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  #head2 {
    font-size: 16px;
    text-align: center;
    padding: 0 15px 4px;
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  #footer-text {
    font-size: 6px;
  }
}